@import 'fonts';
@import 'colors';

body {
  background: rgb(37, 40, 233);
  background: linear-gradient(
    135deg,
    rgba(0, 98, 155, 1) 40%,
    rgba(0, 40, 85, 1) 100%
  );

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1 {
    font-family: LemonMilkMedium;
    color: rgb(26, 35, 83);
  }

  p {
    font-family: Muli;
    color: rgb(26, 35, 83);
  }
}
